<!DOCTYPE html>
html(lang="en")

    head
        include partials/header
        
    body
        header 
            nav.navbar.navbar-light.bg-light
                a.navbar-brand(href="#")
                    img(src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="")
                    
                h4 Administrador de Proyectos Dsi
                p.h5=usuario.email
        .container
            .row
                //.col-lg-4.col-sm-4
                    .card-box.bg-blue
                        .inner
                            p
                        .icon
                            i.fas.fa-plus-square
                        a.h3.card-box-footer(href="/nuevo-proyecto") Nuevo Proyecto
                            i.fa.fa-arrow-circle-right

                .col-lg-4.col-sm-4
                    .card-box.bg-green
                        .inner
                            p 
                        .icon
                            i.fas.fa-tasks
                        a.h3.card-box-footer(href="/empleados") Todos los proyectos
                            i.fa.fa-arrow-circle-right

                
                //.col-lg-4.col-sm-4
                    .card-box.bg-red
                        .inner
                            p
                        .icon
                            i.fas.fa-user-times
                        a.h3.card-box-footer(href="/cerrar-sesion") Cerrar sesion
                            i.fa.fa-arrow-circle-right
        .container
            block contenido
            
            //- pre= vardump(proyectos) 
        script(src="/dist/bunde.js")