extends layoutAdmin
include mixins/crearProyecto

block contenido
    .contenido-principal
        h1 #{nombrePagina}
        
        //-pre= vardump(proyecto)

        if errores 
            each error in errores
                .alert.alert-danger=error.texto
        +crearProyecto(proyecto)
