<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        style
            include ./email.css

    body
        h2 Confirma tu cuenta en la App Dsi
        p Ya casi estas inscrito, solo presiona el siguiente boton para terminar de registrarte

        a(href=`${confirmarUrl}`) Confirmar Cuenta
        p Si no solicitaste acceder a este enlace, visita #{confirmarUrl}
        p Si tu no solicitaste este e-mail, puedes ignorarlo