<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        style
            include ./email.css

    body
        h2 Reestablecer Password
        p Hola, has solicitado restablecer tu password, haz click aqui en el siguiente enlace para restablecerlo, este enlace es temporal si el enlace ya vencio vuelve a solicitarlo

        a(href=`${resetUrl}`) Ir a resetear el password
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si tu no solicitaste este e-mail, puedes ignorarlo